{% extends 'layout.twig' %}

{% block body %}
  
    <h1 class="uk-text-center">{{actor.name}}</h1>
    <div class="uk-flex">
      <div class="uk-width-1-2 uk-card uk-card-default uk-card-body uk-card-small">
        <p>Née le : {{actor.birthday|date("d/m/Y")}} à {{actor.place_of_birth}}</p>
        {% if actor.deathday != null %}
            <p>Mort le : {{actor.deathday|date("d/m/Y")}}</p>
        {% endif %}
        <p> {{actor.biography}} </p>
        {% if actor.homepage != null %}
            <a href="{{actor.homepage}}">Son site officiel</a>        
        {% endif %}
        
        <h3 class="uk-text-center">Filmographie</h3>
        <div class="uk-flex uk-flex-between uk-flex-wrap uk-flex-wrap-between">
            {% for movie in filmo.cast %}
                <div>
                    <a href="/{{movie.id}}">
                      {% if movie.poster_path != null  %}
                        <img data-src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" width="150 px"  alt="{{movie.title}}" uk-img>
                      {% else %}
                        <p>{{movie.title}}</p>
                      {% endif %}
                    
                    </a>
                    <p class="uk-text-center">{{movie.character}}</p>
                </div>                
            {% endfor %}
        </div>
        
      </div>
      <div class="uk-width-1-3 uk-card uk-card-default uk-card-body uk-card-small">
        <img data-src="https://image.tmdb.org/t/p/original{{actor.profile_path}}" width="400 px"  alt="{{actor.name}}" uk-img>
      </div>
      
      
    </div>
  
{% endblock %}
